@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" class="form-control mb-1" placeholder="Enter message" aria-label="Large" id="message-field">
    <button onclick="sendMessage()" class="btn-success">Send</button>
</div>
