@{
    ViewData["Title"] = "Login Page";
}
<style>
    .center1 {
        margin: auto;
        width: 25%;
    }
    .center2 {
        margin: auto;
        width: 60%;
    }
</style>
<div id="div1">
    <div class="text-center center1">
        <input type="text" id="nickname_field" class="form-control mb-2" placeholder="Nickname">
        <input type="password" id="password_field" class="form-control mb-2" placeholder="Password">
        <button type="button" class="btn-primary" onclick="login()">Submit</button>
    </div>
</div>
